body {
background-color: rgb(236, 200, 54);
}


.board {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  border-style: 5px inset;
}

#h1 {
margin-top: 65px;
color: ivory;
text-align: center;
font-family: 'Fredoka One';
font-size: 40px;
text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
/* 0 5px black, 5px 0 black, 0 -5px black; */

}
.square {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border:2px solid black;
  border-style:groove;
  background-color: white;
  flex-grow: 1;
 }



.X {
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: white;
  flex-grow: 1;
  vertical-align: middle;
  font-size: 55px;
  font-weight: bold;
  line-height: 50px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  padding: 0;
}

.O {
  text-align: center;
  height: 50px;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  color: rgb(97, 107, 111);
  border-radius: 25px;
  flex-grow: 1;
  vertical-align: middle;
  font-size: 55px;
  font-weight: bolder;
  line-height: 50px;
  overflow: hidden;
  padding: 0;
}

.Odd {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border:2px solid black;
  border-style:groove;
  background-color: white;
  line-height: 50px;
  flex-grow: 1;
}

.Even{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border:2px solid black;
  border-style:groove;
  background-color: white;
  line-height: 50px;
  flex-grow: 1;
}
