body {
/* background-color: rgb(236, 200, 54); */
background-image: url(https://cdn.shopify.com/s/files/1/0301/0501/products/charlie-brown-zig-zag-t-shirt-textual-tees.png?v=1513122104);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}

.board {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  border-style: 5px inset;
}


#h1{
margin-top: 55px;
color: ivory;
text-align: center;
font-family: 'Fredoka One';
font-size: 25px;
text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
/* 0 5px black, 5px 0 black, 0 -5px black; */
}

#h4{
  color: ivory;
  text-align: center;
  font-family: 'Fredoka One';
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-bottom: 2px solid black;
}

#p {
  color: ivory;
  text-align: center;
  font-family: 'Fredoka One';
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#p > #playAgain{
  background: none;
  border-style: hidden;
  color: ivory;
  font-family: 'Fredoka One';
  font-size: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.square {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border:2px solid black;
  border-style:groove;
  background-color: white;
  flex-grow: 1;
  transition: all .1s ease-in-out;
 }

 .square:hover {transform: scale(1.1);
}

.CharlieBrown{
  background-image: url(http://icons.iconarchive.com/icons/pino/peanuts/32/Charly-Brown-3-icon.png);
  background-size: contain;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: white;
  flex-grow: 1;
  vertical-align: middle;
  font-size: 55px;
  font-weight: bold;
  line-height: 50px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  padding: 0;
}

.Snoopy {
  background-image: url(http://icons.iconarchive.com/icons/pino/peanuts/32/Snoopy-2-icon.png);
  background-size: contain;
  text-align: center;
  height: 50px;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  color: rgb(97, 107, 111);
  border-radius: 25px;
  flex-grow: 1;
  vertical-align: middle;
  font-size: 55px;
  font-weight: bolder;
  line-height: 50px;
  overflow: hidden;
  padding: 0;
}
